.hero-right {
    background: url(../assets/Maskgroup.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.hero__cards {
    height: 310px;
    margin-bottom: 50px;
    &_card {
        &:hover {
            background: #000;
            transform: scale(1.2);
            color: #fff;
            z-index: 3;
            
        }
        &:hover > img svg path {
            fill: white;
        }
        .cadrs_button {
            display: none;
        }

        &:hover > .cadrs_button  {
            display: block;
        }
    }
}

