@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./__hero.scss);
@import url(./__info.scss);
* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
